footer {
    display: flex;
    align-items: center;
    padding: 2rem 0rem;
    margin-top: 5rem;
    border: none;
}

section.list-item {
    margin: 3rem 0;
}

nav a {
    margin-left: 0.5rem;
}

::selection {
    background: rgba(0, 0, 0, 0.1);
    color: inherit;
}
